doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    script(type='text/javascript', src='jquery-2.1.4.js')
    script(type='text/javascript', src='jquery-ui.js')
    script(type='text/javascript', src='spectrum.js')
    link(rel='stylesheet', href='spectrum.css')
    link(rel='stylesheet', href='jquery-ui.css')
    title Illumacanth LED
  body
    h1
      strike Fishbug
      |  Illumacanth LED interface
    h1
      #{current_color}
    table
      tr
        td
          h4 Default Color
          form(action='#')
            input#default_color(type='text')
    h1
      | beginning of slection range
    input(type='textbox', id='begin_range')
    h1
      | end of slection range
    input(type='textbox', id='end_range')

    script.
      $(document).ready(function() {
        var default_color = "!{current_color}";
        $("#default_color").spectrum({
          showInput: true,
          color: default_color,
          showButtons: false,
          change: function(color) {
            $.ajax({
              method: "POST",
              url: "/save_color",
              data: { default_color: color.toHexString() }
            }).done(function( msg ) {
          });
          }
        });
        $("#begin_range").change(function() {
            $.ajax({
              method: "POST",
              url: "/save_begin_range",
              data: { begin_range: $("#begin_range").val() }
            }).done(function( msg ) {
          });
          });
        $("#end_range").change(function() {
            $.ajax({
              method: "POST",
              url: "/save_end_range",
              data: { end_range: $("#end_range").val() }
            }).done(function( msg ) {
          });
        });
      });

