doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    script(type='text/javascript', src='jquery-2.1.4.js')
    script(type='text/javascript', src='jquery-ui.js')
    script(type='text/javascript', src='spectrum.js')
    link(rel='stylesheet', href='spectrum.css')
    link(rel='stylesheet', href='jquery-ui.css')
    | &#x9;
    title Illumacanth LED
  body
    h1
      strike Fishbug
      |  Illumacanth LED interface
    br
    form(form='', onsubmit='return false')
      table
        tr
          td
            label(for='x') X position
            input#x_position(type='range', min='0', max='1100', value='300', oninput='outputUpdate()')
            output#x(for='x_position') 
            br
            label(for='y') Y position
            input#y_position(type='range', min='0', max='750', value='300', oninput='outputUpdate()')
            output#y(for='y_position') 
            br
          td
            select#fadecandy(oninput='outputUpdate()')
              option(value='0') ZXBVWCHBVLAJMXKF	inside rear left
              option(value='1') PFDNPLBPHXSPQJAR	inside rear right
              option(value='2') KWMIOWRPTDIHCFKL	inside middle left
              option(value='3') ZJJHECKOFVCHYXKD	inside middle right
              option(value='4') AKUSIKUKNRSRMBOD	inside lip left
              option(value='5') JBGQFRGMFTGBOHUB	inside lip right
              option(value='6') NLDFUYVRXPYXMBUT	outside rear left
              option(value='7') LRRHFLLXFLUFUNAB	outside rear right
              option(value='8') UAWMHVVVHTIFULCR	outside front left
              option(value='9') SAAQYYASVRKXGHSN	outside front right
      label(for='angle') Angle of orientation
      input#orientation(type='range', min='0', max='360', value='0', oninput='outputUpdate()')
      output#z(for='orientation') 0
      br
      label(for='count') Number of LEDs
      select#count(oninput='outputUpdate()')
        option(value='7') 7
        option(value='12') 12
        option(value='16') 16
        option(value='24') 24
        option(value='60') 60
      br
      button#add_ring(type='button', onclick='addRing(LEDlist)') Add Ring
      button#add_line(type='button', onclick='addLine(LEDlist,x,y)') Add Line
    br
    table
      tr
        td
          canvas#LED_map(width='1100', height='750', style='border:1px solid #000000;')
        td
          #element_list
script.
  var LEDlist = [];
  $(document).ready(function() {
    $.getScript("shapes.js")
    .done(function() {
      var jqxhr = $.getJSON("./default_layout.json", function() {});
      jqxhr.complete(function(data) {
        default_data = JSON.parse(data.responseText);
        if('!{default_layout}' != ''){
          default_data = '!{default_layout}';
          }
          $.each(default_data, function(index, value) {
              if (value.shape == "ring") {
                  var this_element = new Ring(value.x, value.y, value.count, value.fc, LEDlist);
                  LEDlist.push(this_element);
              } else {
                  var this_element = new Line(value.x, value.y, value.angle, value.fc, LEDlist);
                  LEDlist.push(this_element);
              }
          });
          drawCanvas(LEDlist);
          update_element_list(LEDlist);
      });
    });
  });
  function update_element_list() {
      $.each(LEDlist, function(index, LED) {
          $("#element_list").append(LED.shape + " " + LED.count + "<BR>");
      })
  }
  
