doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    script(type='text/javascript', src='jquery-2.1.4.js')
    script(type='text/javascript', src='jquery-ui.js')
    script(type='text/javascript', src='spectrum.js')
    script(type='text/javascript', src='show_math.js')
    link(rel='stylesheet', href='spectrum.css')
    link(rel='stylesheet', href='jquery-ui.css')
    | &#x9;
    title Illumacanth LED
  body
    h1
      strike Fishbug
      |  Illumacanth LED interface
    table
      tr
        td
          canvas#LED_map(width='1100', height='750', style='border:1px solid #000000;')
        td
          h4 Background Color
          form(action='#')
            input#bgcolor_1(type='text')
            input( type='checkbox' id='background_on' checked )
          h4 Waves Color
          form(action='#')
            input#waves_color(type='text')
            input( type='checkbox' id='waves_on' checked )
    script.
      $("#bgcolor_1").spectrum({
          showInput: true,
          color: "!{background_color}",
          change: function(color) {
            $.ajax({
              method: "POST",
              url: "/save_background_color",
              data: { background_color: color.toHexString() }
            }).done(function( msg ) { });
          }
      });
      $("#waves_color").spectrum({
          showInput: true,
          color: "!{wave_color}",
          change: function(color) {
            $.ajax({
              method: "POST",
              url: "/save_wave_color",
              data: { wave_color: color.toHexString() }
            }).done(function( msg ) { });
          }
      });
 
      var redis_led_data = '!{default_leds}';
      $(document).ready(function() {
        $.getScript("show_math.js")
        .done(function() {
          var jqxhr = $.getJSON("./default_LED.json", function() {})
          jqxhr.complete(function(data) {
              var default_data = '';
              if(redis_led_data == ''){
                var default_data = JSON.parse(data.responseText);
              }else {
                var default_data = JSON.parse(redis_led_data);
              }
  
                $.each(default_data, function(index, value) {
                    coords = value.point;
                    x = coords[0];
                    y = coords[1];
                    z = coords[2];
                    this_element = new LED(x, y, z, 0, 0, 0);
                    LEDlist.push(this_element);
                });

              drawCanvas(LEDlist);
          });
        });
      });
      $.getScript("server_math.js");
      var canvas = document.getElementById('LED_map');
      var context = canvas.getContext('2D');
      function drawCanvas(LEDlist) {
          context.clearRect(0, 0, canvas.width, canvas.height);
          for (var i = 0; i < LEDlist.length; i++) {
              LEDlist[i].draw(context);
          }
      }

      setInterval(function() {
          time = time + 10;
          thisBGColor.setColor("#bgcolor_1");
          thisBGColor.on = document.getElementById("background_on").checked;
          thisWaves.setColor("#waves_color");
          thisWaves.on = document.getElementById("waves_on").checked;
          currentShow.updateAll(time);
          drawCanvas(LEDlist);
      }, 100)
